@font-face {
    font-family: bartle;
    src: url(./BBHSansBartle-Regular.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: bartle;
}

h1 {
    text-align: center;
}

img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
}